.footer {
  background-color: var(--color-black);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 16px;

    .footer__left {
      margin-right: 31px;

      .footer__logo {
        margin-top: 1px;
        display: inline-block;
        width: 190px;
        height: 30px;

        svg {
          margin-bottom: 2px;
        }
      }

      .footer__left-span {
        padding-left: 3px;
        font-size: 14px;
        letter-spacing: .2px;
        color: var(--color-white-smoke);
      }
    }

    .footer__center {
      max-width: 361px;
      width: 100%;
      margin-right: 150px;

      &-descr {
        color: var(--color-light-grey);
        line-height: 22px;
        margin-bottom: 2px;
      }

      .footer__center-span {
        color: rgba($color: #cacaca, $alpha: .5);
        letter-spacing: .2px;
      }
    }

    .footer__right {
      &-descr {
        margin-bottom: 11px;
      }
      &-list {
        display: flex;
        justify-content: space-around;
        margin-left: 3px;
        padding-right: 2px;

        .footer__right-item {
          width: 30px;
          height: 30px;

          .footer__item-link {
            display: inline-block;
            height: 30px;

            svg {
              fill: var(--color-light-grey);
              transition: fill .2s ease-in-out;
            }

            &:hover {
              svg {
                fill: var(--color-burnt-orange);
              }
            }

            &:focus-visible {
              svg {
                fill: var(--color-tenne);
              }
            }

            &:active {
              svg {
                fill: var(--color-tenne);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {

  .footer {

    &__container {
      .footer__left {
        margin-right: 0;
      }
      .footer__center {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1024px) {

  .footer {

    &__container {

      .footer__left {
        margin-right: 70px;

        .footer__logo {
          margin-top: 7px;
          width: 166px;
          height: 27px;
        }
      }
    }
  }
}

@media (max-width: 930px) {

  .footer {

    &__container {

      .footer__center {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {

  .footer {

    &__container {
      padding-top: 26px;
      padding-left: 27px;
      padding-right: 27px;

      .footer__left {

        .footer__logo {
          margin-top: 4px;
        }
      }
    }
  }
}

@media (max-width: 576px) {

  .footer {
    background-color: transparent;

    &__container {
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0;

      .footer__left {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4A4A4A;
        margin-right: 0;

        .footer__logo {
          width: 111px;
          height: 18px;
        }

        .footer__left-span {
          font-size: 10px;
        }
      }

      .footer__right {
        text-align: center;
        padding-top: 31px;
        padding-bottom: 32px;
        background-color: var(--color-black);

        &-list {
          justify-content: center;

          .footer__right-item:not(:last-child) {
            margin-right: 21px;
          }
        }
      }
    }
  }
}

