.hero {
  margin-bottom: 68px;

  &__container {
    display: grid;
    grid-template-columns: 630px 1fr 1fr;
    grid-template-rows: 350px 257px;
    grid-gap: 30px;

    .hero__article {
      position: relative;
      background-image: url('../img/hero-left.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      grid-row-start: 1;
      grid-row-end: 3;
      margin-top: 7px;
      padding-left: 58px;
      padding-top: 405px;

      &-link {
        display: inline-block;
        position: absolute;
        top: 13px;
        right: 15px;
        font-size: 14px;
        padding: 8px 16px;
        background-color: #333333;
      }

      &-descr {
        letter-spacing: 1px;
        margin-bottom: 3px;
      }

      .hero__title {
        font-size: 34px;
        max-width: 427px;
        font-weight: 700;
        letter-spacing: 2.8px;
        margin-bottom: 17px;
        line-height: 37px;
      }

      .hero__btn {
        padding: 14px 22px;
        color: var(--color-white);
        background-color: var(--color-burnt-orange);
        border: 3px solid transparent;
        transition: background-color .2s ease-in-out;

        &:hover {
          background-color: var(--color-christine);
        }

        &:focus-visible {
          border: 3px solid var(--color-tenne);
        }

        &:active {
          background-color: var(--color-tenne);
        }
      }
    }

    .hero__right {
      position: relative;
      grid-column-start: 2;
      grid-column-end: 4;

      &-title {
        font-family: "TTFirsNeue-Bold", sans-serif;
        color: var(--color-black);
        font-size: 24px;
        margin-bottom: 20px;
      }

      &-center {
        max-width: 630px;
        height: 300px;
      }
    }
  }
}

@media (max-width: 1360px) {
  .hero {

    &__container {
      grid-template-columns: 50% 1fr 1fr;
      grid-template-rows: 392px 201px;

      .hero__article {
        background-position: center;
      }

      .hero__right {

        &-center {
          height: 317px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero {

    &__container {
      grid-template-columns: 466px 1fr 1fr;
      grid-template-rows: 407px 186px;
      padding-top: 1px;

      .hero__article {
        padding-top: 427px;
        padding-left: 30px;
        margin-top: 1px;
        background-image: url('../img/hero-left-1024.jpg');

        &-descr {
          letter-spacing: .1px;
          margin-bottom: 7px;
        }

        .hero__title {
          letter-spacing: 1.7px;
          line-height: 34px;
          margin-bottom: 21px;
        }

        .hero__btn {
          padding: 13px 21px;
        }
      }

      .hero__right {

        &-center {
          height: 332px;
        }

        &-title {
          line-height: 25px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media (max-width: 930px) {

  .hero {


    &__container {
      grid-template-columns: 48% 1fr 1fr;
      grid-template-rows: 291px 133px;

      .hero__article {
        padding-top: 223px;

        &-descr {
          margin-bottom: 14px;
        }
      }

      .hero__right {

        &-center {
          height: 228px;
        }

        &-title {
          font-size: 22px;
          letter-spacing: -0.2px;
          margin-bottom: 17px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {

    &__container {
      padding-left: 27px;
      padding-right: 27px;

      .hero__article {
        background-image: url('../img/hero-left-768.jpg');

        &-link {
          top: 15px;
          padding: 7px 16px;
        }

        .hero__title {
          line-height: 31px;
          margin-bottom: 25px;
        }
      }

      .hero__right {

        &-center {
          height: 228px;
        }

        &-title {
          line-height: 22px;
          letter-spacing: 0;
        }
      }
    }
  }
}

@media (max-width: 759px) {

  .hero {

    &__container {

      .hero__article {
        padding-top: 180px;
      }

      .hero__right {

        &-center {
          height: 210px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .hero {
    margin-bottom: 50px;

    &__container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 105px;
      padding-left: 21px;
      padding-right: 21px;

      .hero__article {
        background-image: url('../img/hero-article-320.jpg');
        padding-top: 234px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-bottom: 30px;

        &-link {
          padding: 5px 8px;
          top: 5px;
          right: 6px;
          font-size: 12px;
        }

        &-descr {
          letter-spacing: -1px;
          margin-bottom: 6px;
        }

        .hero__title {
          font-size: 24px;
          line-height: 26px;
          letter-spacing: 1px;
          margin-bottom: 15px;
        }

        .hero__btn {
          font-size: 14px;
          padding: 9px 20px;
        }

      }

      .hero__right {
        grid-column-start: 1;
        grid-column-end: 3;

        &-center {
          height: 186px;
        }


        &-title {
          letter-spacing: -0.2px;
        }

      }
    }
  }
}

@media (max-width: 375px) {

  .hero {

    &__container {

      .hero__right {

        &-title {
          padding-top: 5px;
          line-height: 19px;
          font-size: 18px;

        }
      }
    }
  }
}
