// COLORS

:root {
  --color-black: #202020;
  --color-white: #fff;
  --color-light-grey: #cacaca;
  --color-nobel: #999;
  --color-white-smoke: #E9E9E9;
  --color-dim-gray: #666;
  --color-charcoal: #4A4A4A;
  --color-night-rider: #333;
  --color-burnt-orange: #FF6E30;
  --color-christine: #BC572B;
  --color-tenne: #CE4307;

}
